body {
	width: 100%;
	font-family: 'Rubik', sans-serif;
	color: #444444;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #fff;
  background-color: #f94e3f;
  text-decoration: none;
}

#go_up {
  font-size: 2.5em;
  color: #a3a1a1;
  margin: 0 auto;
  text-align: center;
}

#go_up a:link {
  color: #a3a1a1;
}

#go_up a:visited {
  color: #a3a1a1;
}

#go_up a:hover {
  color: #444;
  background-color: #fff;
}

.navbar {
  padding: 23px 10px 23px 10px;
  box-sizing: border-box;
  width: 100%;
  font-size: 1em;
  position: fixed;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  letter-spacing: 1px;
  z-index: 10;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  transition: .5s;
}

.navbar .logo img {
  width: 50px;
  height: 50px;
  transition: .5s;
}

.navbar ul {
  display: flex;
  flex-flow: row;
  vertical-align: middle;
  line-height: 23px;
  height: 23px;
}

.navbar ul li {
  list-style: none;
  margin: 0 25px 0 25px;
}

.navbar ul li a:link {
  color: #000;
  line-height: 23px;
  transition: .5s;
}

.navbar ul li a:hover {
  color: #ffffff;
  background-color: #f94e3f;
  text-decoration: none;
  transition: .5s;
}

.navbar.resizing {
  background-color: rgb(187, 197, 206);
  color: #000;
  padding: 0px 10px;
  border: 0;
  display: flex;
  align-items: center;
}

.navbar.resizing a {
  color: #000;
}

.navbar.resizing .logo img {
  height: 30px;
  width: 30px;
}

.navbar.resizing ul li #contact {
  border: 2px solid #fff;
}

#contact {
  padding: 0 12px 0 12px;
  border: 2px solid #000;
  border-radius: 4px;
}

footer {
  margin-top: 20px;
  padding-top: 40px;
  padding-bottom: 15px;
  text-align: center;
  width: 100%;
  font-weight: 300;
  font-size: 12px;
  background-color: #eee;
}

/*selection*/
::-moz-selection {
 background: #6d9d88; color: white;
}
::selection {
 background: #6d9d88; color: white;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}