body, html {
    width: 100%;
}

body {
    width: 100%;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #444444;
    background-color: #FFEEE4;
}

.container {
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.6;
}

.explain {
    display: flex;
    flex-direction: row;
    width: 720px;
    margin-left: 50px;
    margin-top: 130px;
}

.project {
    width: 500px;
    position: absolute;
    top: 200px;
    left: 550px;
}

.aboutcontent {
    background-color: #fff;
    border: 1px solid #282c37;
    padding: 0 5px 0 5px;
}

.image img {
    box-shadow: 1rem 1rem #6d9d88;
}

.project {
    display: block;
}

.project h2 {
    background-color: #282c37;
    color: #fff;
    height: 35px;
    padding: 0 5px 0 5px;
    line-height: 35px;
}

.faq {
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: 200px;
}

h2 {
    font-size: 1.3em;
}

.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #d9e1e8;
    background-color: #282c37;
    color: #fff;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #6d9d88;
    color: #ffffff;
}

.accordion:after {
    font-family: FontAwesome;
    content: "\f067";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #eee;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\f067";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 0;
}

.footer {
    width: 100%;
    height: 200px;
}

/*navbar*/

.navbar {
  padding: 23px 10px 23px 10px;
  box-sizing: border-box;
  width: 100%;
  font-size: 1em;
  position: fixed;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  letter-spacing: 1px;
  z-index: 10;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  transition: .5s;
}

.navbar .logo img {
  width: 50px;
  height: 50px;
  transition: .5s;
}

.navbar ul {
  display: flex;
  flex-flow: row;
  vertical-align: middle;
  line-height: 23px;
  height: 23px;
}

.navbar ul li {
  list-style: none;
  margin: 0 25px 0 25px;
}

.navbar ul li a {
  color: #000;
  line-height: 23px;
  transition: .5s;
}

.navbar ul li a:active,
.navbar ul li a:hoever {
  color: #ffffff;
  background-color: #2b90d9;
  text-decoration: none;
}

.navbar.resizing {
  background-color: #f4f4f4;
  color: #000;
  padding: 0px 10px;
  border: 0;
  display: flex;
  align-items: center;
}

.navbar.resizing a {
  color: #000;
}

.navbar.resizing .logo img {
  height: 30px;
  width: 30px;
}

.navbar.resizing ul li #contact {
  border: 2px solid #fff;
}

#contact {
  padding: 0 12px 0 12px;
  border: 2px solid #000;
  border-radius: 4px;
}