html, body {
	width: 100%;
}

body {
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	color: #444;
}

h1 {
	margin: 0 auto;
	margin-top: 150px;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
}

#expendituredata {
	margin-top: 50px;
}

table {
	width: 60%;
	font-size: 14px;
	border-collapse: collapse;
	font-family: 'Inconsolata', monospace;
	font-size: 14px;
	margin: 0 auto;
}

th {
	background-color: #D7FFF1;
	padding: 10px;
	border-top: 2px solid #6d9d88;
	border-bottom: 1px solid #6d9d88;
	text-align: left;
	color: #000;
}

th:hover {
	color: #000;
}

td {
	padding: 8px;
}

tr:hover {
	background-color: #6d9d88;
	color: #fff;
}

/*d3*/

#piechart {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}

svg {
  width: 100%;
  height: 100%;
}

path.slice{
  stroke-width:2px;
}

polyline{
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}