html, body {
	width: 100%;
}

body {
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	color: #444;
}

.postlist {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
	margin-top: 150px;
}

.single {
	border: 1px solid #f0f0f0;
	width: 280px;
	margin: 18px;
	border-radius: 5px;
	box-shadow: 6px 6px #CFF2F8;
}

.single img {
	width: 280px;
	padding-bottom: 5px;
	border-radius: 5px;
}

.single h5 {
	font-size: 1.2em;
	height: 40px;
}

.single span:nth-child(1) {
	font-size: 0.9em;
	display: block;
}

.tag {
	background-color: #F16B6F;
	color: #fff;
	margin-right: 6px;
	padding: 1px 3px;
	border-radius: 3px;
}

.text {
	padding-left: 8px;
	padding-bottom: 5px;
}



/*zoom img*/

.zoom {
  position: relative;
  overflow: hidden;
  width: 280px;
}
.zoom img {
  max-width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.zoom:hover img {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}